body {
    /* width: 960px; */
    background-image: url(../images/funky-lines.png);
    margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: darkorange;
}

h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h5:parent {
    font-size: 2.5vmin;
    font-size: 2vw;
    
}

p {
    font-family: 'Open Sans', sans-serif;
}

.card-text {
    font-size: 1.5vmax;
}

.thumb-margin {
    display: block;
    margin-right: 20px;
}

header {
    width: 100%;
    background-color: aqua;
}

.spacer {
    margin-top:10px;
    margin-bottom: 10px;
}

.side-padding {
    /* padding: 0px 16px; */
}

/* .marg-center {
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
} */

.marg-bottom {
    margin-bottom: 100px;
}

.foot-style {
    height: 70px;
    background-color: darkorange;
}

.footer-copyright {
    color: #fff;
    border-top: 6px solid #f123;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}